{
  "plugins": [
    "ava"
  ],
  "extends": "plugin:ava/recommended",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "quote-props": ["error", "consistent"]
  }
}